/* Targets anchors only with href attribute*/
a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline wavy orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}