/* External CSS file */

* {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 40px;
}


article {
    margin-bottom: 60px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1898ad;
    border-bottom: 5px solid #1898ad;
    padding: 50px 0;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}