/* External CSS file */

h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

/* Sibling of h3 */
h3 + p::first-line {
    color: red;
}

/* Element that creates after smth */
h2::after {
    content: "TOP";
    background-color: #ffe70e;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;

    position: absolute;
    top: -10px;
    right: -25px;
}