html {
    /*font-size: 10px;*/

    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size settings*/
    font-size: 62.5%;
}

/* Div for rem testing */
.test {
    background-color: red;
    padding: 100px;

    /*width: 1000px;*/
    /*max-width: 1000px;*/

    max-width: 50rem;
    /* 1 rem = 16px (If default font-size = 16px) */
}