/* CSS GRID LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 75px;
    row-gap: 60px;
}

.main-header {
    grid-column: 1 / -1;
}

article {

}

aside {
    align-self: start;
}

footer {
    grid-column: 1/-1;
}